<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>会社概要 - スターライトアセットマネジメント</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>スターライトアセットマネジメント</h1>
      <nav>
        <ul>
            <li><a href="home.html">ホーム</a></li>
            <li><a href="company.html">会社概要</a></li>
            <li><a href="inventment.html">投資物件</a></li>
            <li><a href="contact.html">お問い合わせ</a></li>
          </ul>
      </nav>
    </div>
  </header>

  <section class="company-info">
    <div class="container">
      <h2>会社概要</h2>
      <dl>
        <dt>会社名</dt>
        <dd>スターライトアセットマネジメント</dd>

        <dt>所在地</dt>
        <dd>神奈川県横浜市青葉区2-7-4</dd>

        <dt>設立</dt>
        <dd>2021年</dd>

        <dt>資本金</dt>
        <dd>1000万円</dd>

        <dt>事業内容</dt>
        <dd>
          <ul>
            <li>不動産投資に関するコンサルティング</li>
            <li>共同投資プラットフォームの運営</li>
            <li>投資物件の選定及び管理</li>
            <li>資産運用に関するアドバイス</li>
          </ul>
        </dd>
      </dl>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2024 スターライトアセットマネジメント</p>
    </div>
  </footer>
</body>
</html>